[submodule "Thirdparty/spdlog"]
	path = Thirdparty/spdlog
	url = https://github.com/MayronDAV/spdlog
[submodule "Thirdparty/glm"]
	path = Thirdparty/glm
	url = https://github.com/MayronDAV/glm
[submodule "Thirdparty/glfw"]
	path = Thirdparty/glfw
	url = https://github.com/MayronDAV/glfw
[submodule "Thirdparty/glslang"]
	path = Thirdparty/glslang
	url = https://github.com/MayronDAV/glslang
[submodule "Thirdparty/imgui"]
	path = Thirdparty/imgui
	url = https://github.com/MayronDAV/imgui
[submodule "Thirdparty/stb"]
	path = Thirdparty/stb
	url = https://github.com/MayronDAV/stb.git
